html{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    
    margin-block-start: 0;
    margin-block-end: 0;
    scroll-behavior: smooth;
}

body{
    font-family: "Open Sans", sans-serif;
    color: var(--primary-color);
    margin: 0;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

:root{
    --primary-color: #240128;
    --white-color: #FFFFFF;
    --gray-color: #ffffff8c;
}
nav{
    display: flex;
    position: fixed;
    justify-content: space-between;
    background: var(--white-color);
    width: 100%;
    height: 80px;
    align-items: center;
    font-size: 2rem;
    top: 0;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    list-style: none;
    width: 50%;
    align-items: center;
    height: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

ul.menu li{
    width: 100%;
    align-items: center;
    display: flex;
    height: 100%;
    align-self: center;
    padding: 0 10px 0 10px;
}

ul.menu li:hover{
    background: gray;
}


.main-bg{
    background-image: url('/assets/endless-constellation.svg');
    color: var(--white-color);
    margin: 0;
}

.secao{
    min-height: 100vh;
    display: flex;
}

h1, h2 , h3 , h4, h5, h6{
    font-family: "Montserrat", sans-serif;
    font-size: 4rem;
}

.secao1{
    margin: 15% auto;
    font-size: 1.6rem;
    width: 50%;
}

.container{
    width: 100%;
}
ul.columns{
    font-size: 1.6rem;
    margin: auto;
}

ul.columns li{
    text-align: center;
    padding: 10px;
    height: 60%;
    
}

.grid{
    display: grid;
    width: 70%;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  auto auto;
   
   
}

.grid div{
    background: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
}


img{
    width: 100%;
    height: 100%;

}

.gal{
    font-size: 3rem;
   
}
.galeria{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.6rem;
    
}

